<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script defer type="module" src="/javascripts/index.js"></script>
  </head>
  <!-- Header -->
  <%- include('./partials/header.ejs'); -%>

  <!-- Main Content -->
  <body>
    <main>
      <section class="content checkNickname">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
      </section>
      <%- include('./partials/enter_nickname.ejs'); -%>
    </main>
  </body>

  <!-- Footer -->
  <%- include('./partials/footer.ejs'); -%>
</html>
