<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/homePage.css" />

    <script defer src="/javascripts/nickname.js"></script>
    <script defer type="module" src="/javascripts/index.js"></script>
  </head>
  <!-- Header -->
  <%- include('./partials/header.ejs'); -%>

  <!-- Main Content -->
  <body>
    <main>
      <section class="content checkNickname">
        <h1>Welcome to Plant App</h1>
        <p>
          Feel free to create a post or browser our forums, down below the three
          most recent posts and the closets posts from your current location
          will be displayed.
        </p>
        <div class="plants-section">
          <h1>Latest Plants</h1>
          <% if (plants.length > 0) { %>
          <div class="entries">
            <% plants.forEach(plant => { %>
            <div class="entry">
              <img
                src="<%= plant.identification.photo %>"
                class="card-img-top"
                alt="Plant Image"
                onclick="window.location.href = 'plant-info/<%= plant._id %>'"
              />
              <div
                class="entry-info"
                onclick="window.location.href = 'plant-info/<%= plant._id %>'"
              >
                <p class="entry-title">
                  <%= plant.identification.commonName %>
                </p>
                <p>Status: <%= plant.identification.confirmation %></p>
              </div>
            </div>
            <% }); %>
          </div>
          <% } else { %>
          <p>No plants have been added yet :/</p>
          <% } %>
        </div>
      </section>
      <%- include('./partials/enter_nickname.ejs'); -%>
    </main>
  </body>

  <!-- Footer -->
  <%- include('./partials/footer.ejs'); -%>
</html>
