<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <!-- Header -->
  <%- include('./partials/header.ejs'); -%>

  <!-- Main Content -->
  <body>
    <main>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </main>
  </body>

  <!-- Footer -->
  <%- include('./partials/footer.ejs'); -%>
</html>
